<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Péricles dos Santos</title>

</head>

<body>
                        <i class="bi bi-list menu-mobile"></i>
                   <!--Menu lateral do meu Cabeçalho de Navegação-->

<aside id='header'>
<section class="profile">
<img src="../static/img/" alt="Foto do Péricles">
<h1>Péricles dos Santos</h1>

<div class="social-links mt-4 text-center">
<a target="_blank" href="https://www.linkedin.com/in/péricles-ramos-490866227/"><i class="bi bi-linkedin"></i></a>

<a target="_blank" href="https://github.com/PericlesDev"><i class="bi bi-github"></i></a>

<a target="_blank" href="https://www.facebook.com/profile.php?id=100079502603271"><i class="bi bi-facebook"></i></a>

<a target="_blank" href="https://www.instagram.com/pericles_developer/"><i class="bi bi-instagram"></i></a>

</div>

</section>
</aside>

    
</body>
</html>