<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Biblioteca do Bootstrap/Css-->
    <link rel="stylesheet" href="../static/Bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="shortcut icon" href="../static/img/solution.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>Péricles dos Santos</title>

</head>

<body>
                        <i class="bi bi-list menu-mobile"></i>
                   <!--Menu lateral do meu Cabeçalho de Navegação-->

<aside id='header'>
<section class="profile">
<img src="../static/img/Péricles dos Santos.png" alt="Foto do Péricles">
<h1>Péricles dos Santos</h1>

<div class="social-links mt-4 text-center">
<a target="_blank" href="https://www.linkedin.com/in/péricles-ramos-490866227/"><abbr title="Linkedin"><i class="bi bi-linkedin"></i></abbr></a>

<a target="_blank" href="https://github.com/PericlesDev"><abbr title="GitHub"><i class="bi bi-github"></i></abbr></a>

<a target="_blank" href="https://www.facebook.com/profile.php?id=100079502603271"><abbr title="Facebook"><i class="bi bi-facebook"></i></abbr></a>

<a target="_blank" href="https://www.instagram.com/pericles_developer/"><abbr title="Instagram"><i class="bi bi-instagram"></i></abbr></a>

</div>

<nav id='navbar' class="nav-menu">
    <ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" aria-current="page"
        href="#inicio"><i class="bi bi-house-fill" aria-hidden="true"></i>Inicio</a>
          </li>

        <li class="nav-item">
        <a class="nav-link" href="#sobre"><i class="bi bi-person-fill"
        aria-hidden="true"></i>Sobre</a>
          </li>

        <li class="nav-item">
        <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"
        aria-hidden="true"></i>Habilidades</a>
          </li>

        <li class="nav-item">
        <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"
        aria-hidden="true"></i>Curriculo</a>
          </li>

        <li class="nav-item">
        <a class="nav-link" href="#portfolio"><i class="bi bi-collection"
        aria-hidden="true"></i>Portifólio</a>
          </li>

     </nav>
    </section>
</aside>

   <main id="main">
    
    <section id="inicio" class="row m-0 p-0">
      <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-white text-shadow">Péricles Santos</h2>
        <span id="subtitle" class="text-white text-shadow">Web Desenvolvedor Front-end Junior</span>

      </div>
      
    </section>

    <section class="container mt-5" id='sobre'>
      <div class="row w-100">
        <div class="cool-md-12" data-anime="down">
      <h1 class='pt-3'>Sobre</h1>          
    </div>
  </div>
   <div class="row mt-4">
     <div class="col-md-3">
       <img class="img-fluid shadow" src="../static/img/Péricles dos Santos.png"
       alt="Foto do Péricles" data-anime="left">
       </div>
       <div class="col-md-8" data-anime="up">
        <h2 class='pt-3'>Hobby</h2>
        <p>Eu, desenvolvedor Péricles. 
         complementei este portfólio com histórias.
         Histórias-quais me fizeram estar presente durante início, meio e fim no processo de aprendizado de cada uma delas
         Hoje como Junior consigo ver meu papel na construção de uma sociedade melhor pela qual eu estarei tão perto de conhecer</p>
       <button class="botao"><a href="../static/Currículo - Front-end Péricles.pdf" download="PériclesCV" type="apllication/pdf">Download CV</a></button>

      </div>
      </div>
    </section>

    <section class="mt-5 section-bg" id="habilidades">
      <h1 class='pt-3'>Habilidades</h1>
      <div class="Container" data-anime="down">
        <div class="card">
        <div class="content">
        <h2><img src="https://img.icons8.com/color/95/000000/html-5--v1.png"/></h2>
        <h3>HTML5</h3>
        <p>Bootstrap<br>jQuery
        </p>
        </div>
      </div>
      <div class="card">
        <div class="content">
        <h2><img src="https://img.icons8.com/color/95/000000/css3.png"/></h2>
        <h3>CSS</h3>
        <p>Bootstrap<br>Tailwind CSS<br>Flexbox Grid<br>Glassmorphism</p>
        </div>
      </div>
      <div class="card">
        <div class="content">
        <h2><img src="https://img.icons8.com/ios-filled/100/f1c40f/javascript-logo.png"/></h2>
        <h3>Javascript</h3>
        <p>Anime.js<br>jQuery<br>Vanilla-tilt.js<br>ScrollReveal</p>
        </div>
      </div>
      <div class="card">
        <div class="content">
        <h2><img src="https://img.icons8.com/office/100/000000/react.png"/></h2>
        <h3>React</h3>
        <p>Constants<br>Componentes<br>Package.Json</p>
        </div>
      </div>
    
    </div>
    <script type="text/javascript" src="../static/vanilla-tilt.js"></script>
  <script>
    VanillaTilt.init(document.querySelectorAll(".card"),{
  max: 25,
  speed: 400,
  glare: true,
  "max-glare": 1,
});
  </script>

  </section>

   <section class="mt-5 cv" id="curriculo">

    <div class="container pb-5">
      <h2 class="pt-3 pb-4">Currículo</h2>

          <div class="row" data-anime="down">
            <div class="col-md-6">
             <h3 class='cv-title'>Estudos</h3>
            

            <div class='cv-item'>
            <h4>Bootcamp Full-Stack Web.Developer</h4>
            <h5>Abril - Junho - 2022</h5>
            <p><em>Digital Inovation One | Carrefour</em></p>
            <p>Praticando em uma plataforma gamificada em parceria com empresas de todo o mundo.</p>
            </div>

            <div class='cv-item'>
              <h4>Semana Spring React</h4>
              <h5>Abril - 2022</h5>
              <p><em>DevSuperior</em></p>
              <p>Desenvolvendo e hospedando uma API de filmes online</p>
              </div>

            <div class='cv-item'>
              <h4>Trilha: Conectar</h4>
              <h5>Maio - 2022</h5>
              <p><em>RocketSeat</em></p>
              <p>Fundamentos da programação e redes de computadores.</p>
              </div>

            </div>
            <div class="col-md-6" data-anime="down">
              <h3 class='cv-title'>Certificados</h3>
            

            <div class='cv-item'>
              <h4>Carrefour Web Developer</h4>
              <h5>Junho - 2022</h5>
              <p><em>Carga horária: 104 horas</em></p>
              <p>Desenvolvi projetos pensando em integrar ao meu portfólio seguindo uma lógica de código limpo
              e acessível ao cliente. Assim, tive uma base sólida do que esperar de um processo seletivo e demanda.
            </p>
              </div>

            <div class='cv-item'>
              <h4>Semana Spring React</h4>
              <h5>Abril - 2022</h5>
              <p><em>carga horária: 16 horas</em></p>
              <p>desenvolvido um web site estático com HTML e CSS</p>
              </div>

            <div class='cv-item'>
              <h4>Bootcamp Carrefour Full.Stack | DIO</h4>
              <h5>Junho 2022</h5>
              <p><em>Instituto Mauá Tecnológico</em></p>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, aspernatur. Est, nemo corrupti iure
              quaerat aut similique. Nemo, doloribus vel.</p>
              </div>


              </div>
          </div>
    </div>


   </section>

   <section id="portfolio" class="section-bg-mt-5-">
    <div class="container pb-5 pt-5 bg-transparent">
 
         <h2 class="pb-4">Portfólio</h2>
 
         <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel" data-anime="up">
 
             <div class="carousel-indicators">
 
                 <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="0" class="active"
                     aria-current="true" aria-label="Slide 1"></button>
 
                 <button type="button" data-bs-target="#carouselPortfolio" data-bs-slide-to="1"
                     aria-label="Slide 2"></button>
             </div>


             <div class="carousel-inner">

              <div class="carousel-item active">

                  <div class="row row-cols-1 row-cols-md-3 g-4">

                      <div class="col">

                          <div class="card">

                              <img src="../static/img/Card.png" class="card-img-top" alt="Google Glass">

                              <div class="card-body">

                                  <h5 class="card-title">Tela de login Natalino</h5>

                                  <p class="card-text">Projeto Landing Page desenvolvido para o lançamento do Óculos de
                                  Inteligencia Artificial, com uma parceria Google.</p>

                                  <div class="d-flex justify-content-center">

                                  <abbr title="Repositório do Projeto"><a href="https://github.com/PericlesDev/Christmas-Login-Screen"target='_blank'
                                  class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a></abbr>
                                    
                                      <a href="https://periclesdev-login-screen-christmas.netlify.app/" target='_blank'
                                          class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>

                      <div class="col">
                        <div class="card">
                            <img src="../static/img/Parallax.png" class="card-img-top img-fluid w-100"
                                alt="E-Commerce Hamburgueria">
                            <div class="card-body">
                                <h5 class="card-title">E-Commerce de Hamburgueria</h5>
                                <p class="card-text">Projeto criado com HTML, CSS e JavaScript,
                                    deploy realizado Netlify</p>
                                <div class="d-flex justify-content-center">
                                <abbr title="Repositório do Projeto"><a href="https://github.com/codethi/blogPessoal-front-back"
                                        target='_blank' class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a></abbr>
                                    <a href="https://newbloggen.netlify.app/#/login" target='_blank'
                                        class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                      <div class="card">
                          <img src="../static/img/Calculadora.png" class="card-img-top img-fluid w-100"
                              alt="Merry Christhimas - Login Screen">
                          <div class="card-body">
                              <h5 class="card-title">Tela de Login - Tema Natal</h5>
                              <p class="card-text">Projeto fullstack criado com PostegreSQL, Flask, HTML,
                                  CSS e JavaScript, deploy realizado no Heroku</p>
                              <div class="d-flex justify-content-center">
                                <abbr title="Repositório do Projeto"><a href="https://github.com/PericlesDev/Christmas-Login-Screen" target='_blank'
                                      class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a></abbr>
                                  <a href="https://pokedex-thicode.herokuapp.com/" target='_blank'
                                      class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                </div>
                             </div>
                       </div>                              
                  </div>



                      <div class="carousel-inner">

                        <div class="carousel-item active">
        
                            <div class="row row-cols-1 row-cols-md-3 g-4">
        
                                <div class="col">
        
                                    <div class="card">
        
                                        <img src="../static/img/Tenis.png" class="card-img-top"
                                            alt="Google Glass">
        
                                        <div class="card-body">
        
                                            <h5 class="card-title">Tela de login Natalino</h5>
        
                                            <p class="card-text">Projeto Landing Page desenvolvido para o lançamento do Óculos de
                                            Inteligencia Artificial, com uma parceria Google.</p>
        
                                            <div class="d-flex justify-content-center">
        
                                            <abbr title="Repositório do Projeto"><a href="https://github.com/PericlesDev/Christmas-Login-Screen"target='_blank'
                                            class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a></abbr>
                                              
                                                <a href="https://periclesdev-login-screen-christmas.netlify.app/" target='_blank'
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                  <div class="card">
                                      <img src="../static/img/Hamburguer.png" class="card-img-top img-fluid w-100"
                                          alt="E-Commerce Hamburgueria">
                                      <div class="card-body">
                                          <h5 class="card-title">E-Commerce de Hamburgueria</h5>
                                          <p class="card-text">Projeto criado com HTML, CSS e JavaScript,
                                              deploy realizado Netlify</p>
                                          <div class="d-flex justify-content-center">
                                          <abbr title="Repositório do Projeto"><a href="https://github.com/codethi/blogPessoal-front-back"
                                                  target='_blank' class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a></abbr>
                                              <a href="https://newbloggen.netlify.app/#/login" target='_blank'
                                                  class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col">
                                  <div class="card">
                                      <img src="../static/img/Login Screen.png" class="card-img-top img-fluid w-100"
                                          alt="Merry Christhimas - Login Screen">
                                      <div class="card-body">
                                          <h5 class="card-title">Tela de Login - Tema Natal</h5>
                                          <p class="card-text">Projeto fullstack criado com PostegreSQL, Flask, HTML,
                                              CSS e JavaScript, deploy realizado no Heroku</p>
                                          <div class="d-flex justify-content-center">
                                            <abbr title="Repositório do Projeto"><a href="https://github.com/PericlesDev/Christmas-Login-Screen" target='_blank'
                                                  class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a></abbr>
                                              <a href="https://pokedex-thicode.herokuapp.com/" target='_blank'
                                                  class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                         </div>
                                   </div>                              
                              </div>



                              <div class="carousel-inner">

                                <div class="carousel-item active" data-anime="right">
                
                                    <div class="row row-cols-1 row-cols-md-3 g-4">
                
                                        <div class="col">
                
                                            <div class="card">
                
                                                <img src="../static/img/Calendário.png" class="card-img-top"
                                                    alt="Google Glass">
                
                                                <div class="card-body">
                
                                                    <h5 class="card-title">Tela de login Natalino</h5>
                
                                                    <p class="card-text">Projeto Landing Page desenvolvido para o lançamento do Óculos de
                                                    Inteligencia Artificial, com uma parceria Google.</p>
                
                                                    <div class="d-flex justify-content-center">
                
                                                    <abbr title="Repositório do Projeto"><a href="https://github.com/PericlesDev/Christmas-Login-Screen"target='_blank'
                                                    class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a></abbr>
                                                      
                                                        <a href="https://periclesdev-login-screen-christmas.netlify.app/" target='_blank'
                                                            class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                          <div class="card">
                                              <img src="../static/img/Hamburguer.png" class="card-img-top img-fluid w-100"
                                                  alt="E-Commerce Hamburgueria">
                                              <div class="card-body">
                                                  <h5 class="card-title">E-Commerce de Hamburgueria</h5>
                                                  <p class="card-text">Projeto criado com HTML, CSS e JavaScript,
                                                      deploy realizado Netlify</p>
                                                  <div class="d-flex justify-content-center">
                                                  <abbr title="Repositório do Projeto"><a href="https://github.com/codethi/blogPessoal-front-back"
                                                          target='_blank' class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a></abbr>
                                                      <a href="https://newbloggen.netlify.app/#/login" target='_blank'
                                                          class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                                  </div>
                                              </div>
                                          </div>
                                      </div>

                                      <div class="col">
                                        <div class="card">
                                            <img src="../static/img/dsMovie.png" class="card-img-top img-fluid w-100"
                                                alt="Merry Christhimas - Login Screen">
                                            <div class="card-body">
                                                <h5 class="card-title">Tela de Login - Tema Natal</h5>
                                                <p class="card-text">Projeto fullstack criado com PostegreSQL, Flask, HTML,
                                                    CSS e JavaScript, deploy realizado no Heroku</p>
                                                <div class="d-flex justify-content-center">
                                                  <abbr title="Repositório do Projeto"><a href="https://github.com/PericlesDev/Christmas-Login-Screen" target='_blank'
                                                        class="btn btn-outline-dark me-3"><i class="bi bi-github"></i></a></abbr>
                                                    <a href="https://pokedex-thicode.herokuapp.com/" target='_blank'
                                                        class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                                  </div>
                                               </div>
                                         </div>                              
                                    </div>








   
</main>
  
              <!--Biblioteca do JavaScript-->
<script src="https://unpkg.com/scrollreveal"></script>         
<script src="../static/javascript.js"></script>
<script src="../static/Bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>